/*Photographe page*/

.photographer-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__link__page img {
  width: 100%;
  padding-left: 50px;
}

.photographer-page__header {
  width: 90%;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.photographer-page__header h2 {
  color: #d3573c;
  font-size: 30px;
  margin: 0;
}

.photographer-page__header img {
  clip-path: ellipse(50% 50%);
  height: 150px;
  width: 150px;
}

.photographer-page__header-left {
  padding-left: 2em;
}

.photographer-page__header-left__contact {
  height: 3rem;
  background-color: #901c1c;
  color: white;
  border-color: #901c1c;
  border-radius: 10px;
}

.photographer-page__select-option {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.photographer-page__media {
  display: flex;
  flex-wrap: wrap;
}

.photographer-page__media img {
  height: 200px;
}

/*modal*/

#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  z-index: 10;
  left: 25%;

  top: 0;
  height: 100%;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* Gallery */

/* Sort */

.sorting {
  height: 3rem;
  width: 100%;
  background-color: #db8876;
  display: flex;
  flex-direction: row;
}

.sortingByName {
  height: 2rem;
  cursor: pointer;
}

.sortingByDate {
  height: 2rem;
  cursor: pointer;
  margin-left: 50px;
}

.photographer-Gallery {
  height: auto;
  width: 100%;
}

.photographer-Portfolio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 3em;
  gap: 5em;
}

.pictureCard {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  color: #901c1c;
  cursor: pointer;
}

.photographer-Portfolio img video {
  border-radius: 0.6rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* Carrousel */

.Carrousel {
  width: 100%;
}

.slider {
  width: 100%;
  position: relative;
}

.slider img {
  height: 250px;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  left: 0;
  top: 0;
}

.slider img.active {
  object-fit: cover;
  opacity: 1;
}

/* .suivant,
.precedent {
  display: flex;
  align-items: center;
  height: 50px;
  color: red;
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  top: -50%;
  z-index: 5;
} */

.selected_menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  color: white;
  background-color: #d3573c;
}
.suivant {
  height: 50px;
  display: flex;
  font-size: 3rem;
}

.precedent {
  transform: rotate(180deg);
  display: flex;
  font-size: 3rem;
}

.error {
  background-color: #901c1c;
  color: green;
}
